.task-list-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.task-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.task-table th,
.task-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #4a488e;
}

.task-table th {
  background-color: #aab4f1;
  font-weight: bold;
}

.task-table tr:hover {
  background-color: #5ccaa5bc;
}
button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

